body {
  margin: 4rem 0;
}
 
h4 {
  margin-bottom:2rem;
  margin-top: 3rem;
}

.panel {
  border-radius: 0.3rem;
  padding: 1rem;
  margin-bottom: 1rem;   
}

.panel-blue {
  border: 1px solid #0087FF;
  background-color: #DDEDFF;
  color: #000;
}

.panel-yellow{
  border: 1px solid #FEF0B2;
  background-color: #FFBD00;
  color: #000; 
}

